.gearbox {
    width: 500px;
    height:500px;
    border: 1px solid black;
}

.gearbox:before {
    background: url('gear4.svg') no-repeat;
    content: '';
    height: 150px;
    position: fixed;
    width: 150px;
}

.gearbox:before {
    animation: spin 8s infinite linear;
    -webkit-animation: spin 8s infinite linear;
    -moz-animation: spin 8s infinite linear;
    -ms-animation: spin 8s infinite linear;
    -o-animation: spin 8s infinite linear;
}

.gearbox:after {
    background: url('gear2.svg') no-repeat;
    content: '';
    height: 150px;
    position: fixed;
    right: 0;
    width: 150px;
}

.gearbox:after {
    animation: spin 8s infinite linear;
    -webkit-animation: spin 8s infinite linear;
    -moz-animation: spin 8s infinite linear;
    -ms-animation: spin 8s infinite linear;
    -o-animation: spin 8s infinite linear;
}

@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}